-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUZHPNFCpzOu8MOXf0O3Q/cm89qyEwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTAyMTIyMTM2MjBaFw0yNTAz
MTQyMTM2MjBaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDYfYwJ/wE7yQWLncWXocab1aXZAsgfr+vw2P1nOnH9
NXtSF3wLupY0tMIRXUq9WY43zgiLUP2ePOcP2aGd9zGK6V7yO3r/OxZe6Qrd2p+G
FUbx2i1o4C8HrMA24d1+FfYEomhfIbbAudfgFyaL7PU5VS2xr/VuFiPCi1cS97En
ic6oeKmfxbuB+yql/laHw42vfdrTFlvLGrKGgZYLGt9qF0TytSH6Ra/ryYdmdDk9
hNPo0uQdwnsh6aUyLuS+QucdcU793AfUQXOfsLw2qSkstRajAUTq4k1MicHkQbbQ
htpCd1wrkLEfdlIBthwLAOoOsnMSBlMtfIU++TjTsnlNAgMBAAGjUzBRMB0GA1Ud
DgQWBBR7Oo2PE9DB4I3oFNEsT0IDgCnYqTAfBgNVHSMEGDAWgBR7Oo2PE9DB4I3o
FNEsT0IDgCnYqTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCY
WA459hbAwO+Pyy52/On5C5FQlsQPllPh0ELp8vC8hotIi1EJJbGT9TmVGy3j8m27
BBLqp8wfU0b9AHBT3739iV+8wxfRZ35JuSIMvjIFEeH6Whqaq5mrGGZxAjRHbx6I
/xNR6RqJbMR6qf9ROnV1CJfXiR/ULjWx3ChwE8Dj2/jdZHBYXfbptGrO9RNynzJf
8eQoB8bqDPLV32VHNeZvF9nIkSLGlpxHoMp1o1IPaOyImfgF1uZlz+tXbzd7upjk
Ho0PHUQZT/ev1xmsPbDQUcb2ANOFa1jrdbYWDfk0dkuXZoa8R+vUEJWir8xDKAVo
Xl78ABeq24xHzjdkCqiu
-----END CERTIFICATE-----
